{% extends "base.html" %}
{% block content %}
{% with authenticated=user.is_authenticated %}
    {{block.super}}
{% endwith %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
             {% for dish in dishes %}
            <div class="card mb-4">
                <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ dish.name }}</h5>
             {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
