{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-4">Login here</h1>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label }}
            {{ form.username }}
            {% if form.username.errors %}
                <span class="text-danger">{{ form.username.errors }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
                <span class="text-danger">{{ form.password.errors }}</span>
            {% endif %}
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary" value="Login">Login</button>
        </div>
        <div class="d-grid gap-2">
            <a href="{% url 'dashboard:password_reset' %}" class="btn btn-secondary">Forgot Password?</a>
        </div>
    </form>
</div>

{% endblock %}
