{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-4">Register here</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label }}
            {{ form.username }}
            {% if form.username.errors %}
                <span class="text-danger">{{ form.username.errors }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label }}
            {{ form.email }}
            {% if form.email.errors %}
                <span class="text-danger">{{ form.email.errors }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password1.label }}
            {{ form.password1 }}
            {% if form.password1.errors %}
                <span class="text-danger">{{ form.password1.errors }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password2.label }}
            {{ form.password2 }}
            {% if form.password2.errors %}
                <span class="text-danger">{{ form.password2.errors }}</span>
            {% endif %}
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="d-grid gap-2">
            <a href="{% url 'dashboard:password_reset' %}" class="btn btn-secondary">Forgot Password?</a>
        </div>
    </form>
</div>

{% endblock %}
