{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Driver</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label }}
                            {{ form.name }}
                            {% if form.name.errors %}
                                <span class="text-danger">{{ form.name.errors }}</span>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.phone.label }}
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <span class="text-danger">{{ form.phone.errors }}</span>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.nationality.label }}
                            {{ form.nationality }}
                            {% if form.nationality.errors %}
                                <span class="text-danger">{{ form.nationality.errors }}</span>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="driver_image" class="form-label">Current Image</label>
                            <div style="overflow: hidden;">
                                <img src="{{ driver.image.url }}" class="card-img-top img-fluid fit-image" alt="{{ driver.name }}">
                            </div>
                            <input type="file" class="form-control" id="driver_image" name="image">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url "dashboard:delete_driver" driver.id %}" class="btn btn-danger">Delete</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
