{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Dish</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label }}
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label }}
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            {{ form.price.label }}
                            {{ form.price }}
                        </div>
                        <div class="mb-3">
                            <label for="dish_image" class="form-label">Current Image</label>
                            <div style="overflow: hidden;">
                                <img src="{{ dish.image.url }}" class="card-img-top img-fluid fit-image" alt="{{ dish.name }}">
                            </div>
                            <input type="file" class="form-control" id="dish_image" name="image">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url "dashboard:delete_dish" dish.id %}" class="btn btn-danger">Delete</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
